In [3]:
percentage = float(input("Enter your percentage: "))

if percentage > 90:
    grade = "A"
elif percentage > 80:
    grade = "B"
elif percentage >= 60:
    grade = "C"
else:
    grade = "D"

print("Your grade is:", grade)

Enter your percentage: 90
Your grade is: B

In [4]:
def calculate_road_tax(cost_price):
  if cost_price > 100000:
    tax_rate = 0.15
  elif cost_price > 50000:
    tax_rate = 0.1
  else:
    tax_rate = 0.05

  road_tax = cost_price * tax_rate
  return road_tax

# Get the cost price of the bike from the user
cost_price = float(input("Enter the cost price of the bike: "))

# Calculate the road tax
road_tax = calculate_road_tax(cost_price)

# Print the road tax
print("The road tax to be paid is Rs.", road_tax)

Enter the cost price of the bike: 1000000
The road tax to be paid is Rs. 150000.0

In [6]:
def display_monuments(city):
    """
    This function returns the monument of a given city.
    """
    monuments = {
        "Delhi": "Red Fort",
        "Agra": "Taj Mahal",
        "Jaipur": "Jal Mahal",
    }
    if city in monuments:
        return monuments[city]
    else:
        return "City not found"

# Example usage:
city_to_search = "Agra"
result = display_monuments(city_to_search)

if result != "City not found":
    print(f"The monument in {city_to_search} is {result}.")
else:
    print(result)

The monument in Agra is Taj Mahal.

In [8]:
def divide_by_3(number):
    """
    This function checks how many times a number can be divided by 3 before it is less than or equal to 10.
    """
    count = 0
    while number > 0 and number % 3 == 0:
        number //= 3
        count += 1
    return count

# Example usage:
result = divide_by_3(81)
print(result)

4

In [11]:
def print_pattern():
    """
    This function uses a nested while loop to print a pattern.
    """
    for i in range(1, 4):
        for j in range(i):
            print("*", end="")
        print()

# Example usage:
print_pattern()

*
**
***

In [13]:
def reverse_numbers():
    """
    This function uses a for loop to display numbers from 10 to 1 in reverse order.
    """
    for num in range(10, 0, -1):
        print(num)

# Example usage:
reverse_numbers()

10
9
8
7
6
5
4
3
2
1

In [12]:
def reverse_numbers():
    """
    This function reverses a while loop to display numbers from 10 to 1.
    """
    num = 10
    while num > 0:
        print(num)
        num -= 1

# Example usage:
reverse_numbers()

10
9
8
7
6
5
4
3
2
1